:root {
    --theme: #ffffff;
  }  

* {
    text-align: center;
    background-color: var(--theme);
}

table {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

th {
    width: 300px;
    padding: 10px;
    font-size: 30px;
}

.inline-block {
    display: inline-block;
}

#popupform {
    display: none;
    position: fixed; /* Position relativ zum Viewport */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Zentriert das Formular */
    z-index: 1000; /* Stellt sicher, dass das Formular über anderen Elementen liegt */
    background-color: rgb(0, 0, 0); /* Hintergrundfarbe des Formulars */
    padding: 20px; /* Abstand im Inneren des Formulars */
    box-shadow: 0 4px 8px rgba(238, 255, 0, 0.76); /* Schatten für bessere Sichtbarkeit */
}

.sortbuttons_inlineblock {
    display: inline;
}

.sortbuttondiv {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 100px;
    margin-right: 10px;
    z-index: 100;
}

button {
    border: solid black 1px;
    background-color: #ffffff;
    margin: 2px;
    width: auto;
    height: auto;
    font-size: 20px;
    outline: none;
    color: #000000;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#add_task {
    font-size: 30px;
}

#Menü {
    background-color: black;
    border: none;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    margin: 30px;
}

#Menü:hover {
    background-color: transparent;
    border: solid 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.invert-colors {
    filter: invert(100%);
}
