* {
    text-align: center;
    background-color: rgb(141, 141, 141);
}

table {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

th {
    padding: 10px;
    font-size: 30px;
}

button {
    font-size: 15px;
    color: black;
    font-size: auto; 
    width: 40%;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

button:active {
    background-color: rgb(77, 0, 0);
    color: white;
}

.inline-block {
    display: inline-block;
}

#add_task {
    width: auto;
    font-size: 20px;
    border-radius: 10px;
}

#popupform {
    display: none;
    position: fixed; /* Position relativ zum Viewport */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Zentriert das Formular */
    z-index: 1000; /* Stellt sicher, dass das Formular über anderen Elementen liegt */
    background-color: rgb(0, 0, 0); /* Hintergrundfarbe des Formulars */
    padding: 20px; /* Abstand im Inneren des Formulars */
    box-shadow: 0 4px 8px rgba(238, 255, 0, 0.76); /* Schatten für bessere Sichtbarkeit */
}

.sortbuttons_inlineblock {
    display: inline;
}
